.login-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

}

.login-form{
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: 0 auto;
}
.login-form-label{
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  margin-top: 15px;
}


.login-form-input{
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 7px;
  // margin-bottom: 15px;
  border: 1px solid rgba(128, 128, 128, 0.384) ;
  width: 100%;
  max-width: 350px;

}

.login-btn{
  width: 100%;
  max-width: 350px;
  height: 40px;
  background-color: rgb(74, 74, 248);
  border-radius: 7px;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 15px;
}
.login-btn:hover{
  background-color: rgb(56, 56, 252);

}

.login-title{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 600;
  margin-bottom: 15px;
  
}
.login-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.363);
  width: 35%;
  min-width: 312px;
  margin: 100px auto 0;
  background-color: rgba(128, 128, 128, 0.007);
  height: 50vh;
  border-radius: 7px;
  
}

.forgot-password {
  text-decoration: none;
  margin-top: 15px;
  color: grey;
}
.forgot-password:hover{
  color: rgb(76, 1, 146);
}
.login-form-error{
  width: 100%;
  max-width: 350px;
  color: red;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.85em;
  display: flex;
  justify-content: end;
  margin-right: 5px;
}