.login-container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

}

.login-form{
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: 0 auto;
}
.login-form-label{
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  margin-top: 15px;
}


.login-form-input{
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 7px;
  // margin-bottom: 15px;
  border: 1px solid rgba(128, 128, 128, 0.384) ;
  width: 100%;
  max-width: 350px;

}

.login-btn{
  width: 100%;
  max-width: 350px;
  height: 40px;
  background-color: rgb(74, 74, 248);
  border-radius: 7px;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 15px;
}
.login-btn:hover{
  background-color: rgb(56, 56, 252);

}

.logout-btn{
  width: 100%;
  max-width: 350px;
  height: 40px;
  background-color: rgb(238, 69, 57);
  border-radius: 7px;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 15px;
}
.logout-btn:hover{
  background-color: rgb(248, 38, 23);
}

.login-title{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 600;
  margin-bottom: 15px;
  
}
.login-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.363);
  width: 35%;
  min-width: 312px;
  margin: 100px auto 0;
  background-color: rgba(128, 128, 128, 0.007);
  height: 50vh;
  border-radius: 7px;
  
}

.login-card:hover{
  background-color: rgba(0, 0, 0, 0.014);

}

.forgot-password {
  text-decoration: none;
  margin-top: 15px;
  color: grey;
}
.forgot-password:hover{
  color: rgb(76, 1, 146);
}
.login-form-error{
  width: 100%;
  max-width: 350px;
  color: red;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 0.85em;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.welcome{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
  
}
.welcome-user-span{
  font-family: 'Montserrat', sans-serif;
  color: rgb(247, 117, 31);
  
}
.my-history{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin-top: 15px;
  color: rgb(63, 63, 63);
  margin-bottom: 30px;
  width: 100%;
  max-width: 350px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.my-history:hover{
  color: rgb(107, 15, 177);
  font-weight: 500;
  border: 1px solid rgb(129, 129, 129);




}

.loading-status{
  width: 15%;
  height: 40px;
  background-image: url("../../public/status2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: rotate;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  
  
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.error {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: rgb(243, 22, 22);
  width: 100%;
  max-width: 350px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.successfully-generated-code{
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  color: green;
  width: 100%;
  max-width: 350px;
  font-weight: 500;
}

.login-card-change{

  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.363);
  width: 35%;
  min-width: 312px;
  margin: 100px auto 0;
  background-color: rgba(128, 128, 128, 0.007);
  height: 70vh;
  border-radius: 7px;
  margin-bottom: 150px;
}