.main-container{
  display: flex;
  width: 90%;
  // height: calc(100vh - 180px);
  margin: 0 auto;
  
}

.items--div{
  width: 45%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-bottom: 25px;
  justify-content: space-evenly;

}

.label--div{
 width: 15%;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50px;
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;

}

.items--box{
  width: 200px;
  height: 25px;
  margin-right: 25px;
  border: 1px solid grey;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  
}

.area--div{
  display: flex;
  align-items: center;
  justify-content: center;

}

.items--ready--box{
  width: 45%;
  min-height: 50px;
  height: fit-content;
  overflow:scroll;
  border: 1px solid grey;
  background-color: rgba(128, 128, 128, 0.034);
  border-radius: 4px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.items--ready{
  width: 90%;
  display: flex;
  margin-left: 20px;
}
.add-items-btn{
  background-color: #639f38;
  height: 20px;
  color:white;
  font-weight: 300;
  font-size: 0.9em;
  border: none;
  width: 50px;
  border-radius: 7px;
}
